
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger mt-5">
    <h2 class="text-center">HATA!</h2>
    <h4 class="text-center">Bu sayfaya erişim yetkiniz bulunmamaktadır!</h4>
</div>