<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a asp-action="UpdateUser" asp-controller="Panel">Bilgilerimi Güncelle</a>
                    </li>
                    <li class="list-group-item">
                        <a asp-action="Index" asp-controller="Role">Roller</a>
                    </li>
                    <li class="list-group-item">
                        <a asp-action="UserList" asp-controller="Role">Kullanıcı İşlemleri</a>
                    </li>
                    <li class="list-group-item">
                        <a asp-action="Index" asp-controller="Admin">Admin Sayfası</a>
                    </li>
                    <li class="list-group-item">
                        <a asp-action="Index" asp-controller="Developer">Developer Sayfası</a>
                    </li>
                    <li class="list-group-item">
                        <a asp-action="Index" asp-controller="Female">Kadınlar İçin Özel Sayfa</a>
                    </li>
                    <li class="list-group-item">
                        <a asp-action="LogOut" asp-controller="Panel">Çıkış Yap</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
