@model List<AppRole>
@{
    ViewData["Title"] = "Roller";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Roller</h4>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <a asp-action="Create" asp-controller="Role" class="btn btn-info btn-sm my-2">Yeni Rol Ekle</a>

            <table class="table table-bordered table-striped table-sm table-responsive-sm">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 10%">ID</th>
                        <th>Rol Adı</th>
                        <th class="text-center" style="width: 15%">İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">@item.Id</td>
                                <td>@item.Name</td>
                                <td class="text-center">
                                    <a asp-action="Edit" asp-controller="Role" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Düzenle</a>
                                    <a asp-action="Delete" asp-controller="Role" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Sil</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="text-danger">
                            <td colspan="3">Kayıtlı rol bulunmamaktadır</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>